{% extends "layout.html" %}

{% block title %} Question List {% endblock %}

{% block body %}
    <table border="3">
        <tr>
            <th style="text-align: center">ID</th>
            <th style="text-align: center">Submision Timp</th>
            <th style="text-align: center">View Nubmer</th>
            <th style="text-align: center">Vote Number</th>
            <th style="text-align: center">Title</th>
            <th style="text-align: center">Message</th>
            <th style="text-align: center">Edit</th>
        </tr>
        {% for i in question_data %}
            <tr>
                {% for j in i %}
                <td style="text-align: center"> {{ j }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}